{% macro render_table(base_url, table) %}
<table class="table">
    <h5>{{ table.name }}</h5>
    <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">{{ table.subject_label }}</th>
            <th scope="col">{{ table.score_label }}</th>
            {% if table.show_values %}
            <th scope="col">{{ table.value_label }}</th>
            {% endif %}
            {% if table.show_entries %}
            <th scope="col">{{ table.entry_label }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for table_row in table.get_ordered_subjects() %}
        <tr class="{{ loop.cycle('table-light', 'table-secondary') }}">
            <th scope="row">
            {% if loop.first or loop.previtem.pos != table_row.pos %}
            {{ table_row.pos }}
            {% endif %}
            </th>
            {% if table.subject_label == 'Driver' %}
            <td><a class="text-danger" href="{{ driver_url(base_url, table_row.subject|string) }}">{{ table_row.subject|string }}</a></td>
            {% elif table.subject_label == 'Entry' %}
            <td><a class="text-danger" href="{{ entry_url(base_url, table_row.subject|string) }}">{{ table_row.subject|string }}</a></td>
            {% elif table.subject_label == 'Race' %}
            <td><a class="text-danger" href="{{ race_url(base_url, table_row.subject|string) }}">{{ table_row.subject|string }}</a></td>
            {% elif table.subject_label == 'Team' %}
            <td><a class="text-danger" href="{{ team_url(base_url, table_row.subject|string) }}">{{ table_row.subject|string }}</a></td>
            {% endif %}
            <td>{{ table_row.score }}</td>
            {% if table.show_values %}
            <td scope="col">{{ table_row.value }}</td>
            {% endif %}
            {% if table.show_entries %}
            <td scope="col">
            {% for entry in table_row.matching_entries %}
            <a class="text-danger" href="{{ entry_url(base_url, entry|string) }}">{{ entry }}</a>{% if not loop.last %}, {% endif %}
            {% if table.tie_breaker_var is not none %}
            (TB: {{ entry.__dict__[table.tie_breaker_var]}})
            {% endif %}
            {% endfor %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro entry_url(base_url, entry_name) -%}
    {{ base_url }}/entries/{{ entry_name.replace(' ', '_') }}.html
{%- endmacro %}

{% macro result_url(base_url, result_name) -%}
    {{ base_url }}/results/{{ result_name.replace(':', '').replace(' ', '_') }}.html
{%- endmacro %}

{% macro driver_url(base_url, driver_name) -%}
    {{ base_url }}/drivers/{{ driver_name.replace(', ', '_').replace(' ', '_') }}.html
{%- endmacro %}

{% macro team_url(base_url, team_name) -%}
    {{ base_url }}/teams/{{ team_name.replace(' ', '_') }}.html
{%- endmacro %}

{% macro race_url(base_url, race_string) -%}
    {{ base_url }}/races/{{ race_string.replace(' @ ', '_').replace(':', '_').replace('/', '_').replace(' ', '_') }}.html
{%- endmacro %}

{% macro results_plot(race_list, series_list, results_table, min_y, max_y) -%}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <h5>As it happened...</h5>
    <div class="row" id="chart"></div>
    <div class="row" id="hover_path" style="margin:auto; height 50px; text-align: center">
        <h5 style='color:white'>_</h5>
    </div>
    <script>
        var data = {
            series: {{ series_list }},
            races: {{ race_list }},
            results_table: {{ results_table }}
        }

        var margin = {top: 20, right: 20, bottom: 30, left: 30};
        var width = document.getElementById("chart").offsetWidth - margin.left - margin.right;
        var height = 250 - margin.top - margin.bottom;

        var svg = d3.select("#chart")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom);
            
        const x = d3.scalePoint()
            .domain(data.races)
            .range([margin.left, width - margin.right]);
        const y = d3.scaleLinear()
            .domain([{{ min_y }}, {{ max_y }}]).nice()
            .range([height - margin.bottom, margin.top]);
        svg.append("g")
            .attr("transform", `translate(0, ${height - margin.bottom})`)
            .call(d3.axisBottom(x));
        svg.append("g")
            .attr("transform", `translate(${margin.left}, 0)`)
            .call(d3.axisLeft(y))
            .call(g => g.select(".tick:last-of-type text").clone()
                .attr("x", 3)
                .attr("text-anchor", "start")
                .attr("font-weight", "bold")
                .text("Points")
            );
        
        for (array in data.series) {        
            const path = svg.append("path")
                .datum(data.series[array].values)
                .attr("fill", "none")
                .attr("stroke", data.series[array].color)
                .attr("stroke-width", 2)
                .attr("opacity", 0.3)
                .attr("id", data.series[array].name)
                .attr("d", d3.line()
                    .x(d => x(d.race))
                    .y(d => y(d.points))
                )
                .on("mouseover", function(d) {
                    d3.select(this).attr("opacity", 1).attr("stroke-width", 4);
                    console.log(d.explicitOriginalTarget);
                    console.log(d.explicitOriginalTarget.id);
                    console.log(d.explicitOriginalTarget.stroke);
                    var text_div = document.getElementById('hover_path')
                    text_div.innerHTML = "<h5 style='color:red'>" + d.explicitOriginalTarget.id + "</h5>";
                })
                .on("mouseout", function(d) {
                    d3.select(this).attr("opacity", 0.3).attr("stroke-width", 2);
                    //document.getElementById('hover_path').innerHTML = "<h5 style='color:white'>_</h5>";
                });
        }
    </script>
{%- endmacro %}