{% import 'macros.j2' as macros %}
<div class="btn-group" role="group" aria-label="menugroup">
    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="resultsMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Results
        </button>
        <ul class="dropdown-menu  dropdown-menu-dark" aria-labelledby="resultsMenuButton">
            <li><a class="dropdown-item" href="{{ base_url }}/index.html">Overall</a></li>
            {% for question in questions %}
            <li><a class="dropdown-item" href="{{ macros.result_url(base_url, question.short_name) }}">{{ question.short_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="entriesMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Entries
        </button>
        <ul class="dropdown-menu  dropdown-menu-dark" aria-labelledby="entriesMenuButton">
            {% for entry in entries.list_entries() %}
            <li><a class="dropdown-item" href="{{ macros.entry_url(base_url, entry.entry_name) }}">{{ entry.entry_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="driversMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Drivers
        </button>
        <ul class="dropdown-menu  dropdown-menu-dark" aria-labelledby="driversMenuButton">
            {% for driver in drivers.list_all_drivers() %}
            <li><a class="dropdown-item" href="{{ macros.driver_url(base_url, driver|string) }}">{{ driver.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="teamsMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Teams
        </button>
        <ul class="dropdown-menu  dropdown-menu-dark" aria-labelledby="teamsMenuButton">
            {% for team in teams.list_all_teams() %}
            <li><a class="dropdown-item" href="{{ macros.team_url(base_url, team.name) }}">{{ team.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="racesMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Races
        </button>
        <ul class="dropdown-menu  dropdown-menu-dark" aria-labelledby="racesMenuButton">
            {% for race in races.list_races() %}
            <li><a class="dropdown-item" href="{{ macros.race_url(base_url, race|string) }}">{{ race.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>