{% extends 'base.html' %}
{% import 'macros.j2' as macros %}
{% block title %}{{ race.name }}{% endblock %}

{% block content %}
<h4>{{ race.name }}</h4>

<table class="table">
    <tr class="table-light"><td>Day</td><td>{{ race.datetime }}</td></tr>
    <tr class="table-secondary"><td>Circuit</td><td>{{ race.circuit }}</td></tr>
    <tr class="table-light"><td>Laps</td><td>{{ race.laps }}</td></tr>
    <tr class="table-secondary"><td>Safety Cars</td><td>{{ race.safety_cars }}</td></tr>
    <tr class="table-light"><td>Retirements</td><td>{{ race.retirements }}</td></tr>
</table>

{% if race.post_race_driver_points is not none %}
{{ macros.render_table(base_url, race.post_race_driver_points) }}
{% endif %}
{% endblock %}